<md-toolbar color="primary">

  <md-select placeholder="Estado" [(ngModel)]="selectedEstado" (change)="onSelectEstado()">
    <md-option *ngFor="let estado of (listEstados | sortBy: 'nome')" [value]="estado.codigo">{{ estado.nome }}</md-option>
  </md-select>

  <md-select placeholder="Região Intermediária" [(ngModel)]="selectedRegiaoIntermediaria" *ngIf="selectedEstado != 0" (change)="onSelectRegiaoIntermediaria()">
    <md-option *ngFor="let rgint of (listRegioesIntermediarias | sortBy: 'nome')" [value]="rgint.codigo">{{ rgint.nome }}</md-option>
  </md-select>

  <md-select placeholder="Região Imediata" [(ngModel)]="selectedRegiaoImediata" *ngIf="selectedRegiaoIntermediaria != 0" (change)="onSelectRegiaoImediata()">
    <md-option *ngFor="let rgi of (listRegioesImediatas | sortBy: 'nome')" [value]="rgi.codigo">{{ rgi.nome }}</md-option>
  </md-select>

</md-toolbar>

<md-card>
  <md-card-title id="title" class="title"></md-card-title>
  <md-card-content id="map" class="map"></md-card-content>
</md-card>

