<select [(ngModel)]="selectedEstado" (change)="onSelectEstado()">
  <option value="0">Selecione o Estado</option>
  <option *ngFor="let estado of (listEstados | sortBy: 'nome')" value= {{estado.codigo}}>
    {{estado.nome}}
  </option>
</select>

<select [(ngModel)]="selectedRegiaoIntermediaria" *ngIf="selectedEstado != 0" (change)="onSelectRegiaoIntermediaria()">
  <option value="0">Selecione a Região Intermediária</option>
  <option *ngFor="let intermediaria of (listRegioesIntermediarias | sortBy: 'nome')" value= {{intermediaria.codigo}}>
    {{intermediaria.nome}}
  </option>
</select>

<select [(ngModel)]="selectedRegiaoImediata" *ngIf="selectedRegiaoIntermediaria != 0" (change)="onSelectRegiaoImediata()">
  <option value="0">Selecione a Região Imediata</option>
  <option *ngFor="let imediata of (listRegioesImediatas | sortBy: 'nome')" value= {{imediata.codigo}}>
    {{imediata.nome}}
  </option>
</select>

<div id="map" class="map"></div>
