<select [(ngModel)]="selectedEstado" (change)="onSelect($event.target.value)">
  <option value="0">Selecione o Estado</option>
  <option *ngFor="let estado of estados" value= {{estado.codigo}}>
    {{estado.nome}}
  </option>
</select>

<select *ngIf="selectedEstado != 0">
  <option value="0">Selecione a mesorregiao</option>
  <option *ngFor="let mesorregiao of mesorregioes" value= {{mesorregiao.codigo}}>
    {{mesorregiao.nome}}
  </option>
</select>

<select *ngIf="selectedEstado != 0">
  <option value="0">Selecione a microrregiao</option>
  <option *ngFor="let microrregiao of microrregioes" value= {{microrregiao.codigo}}>
    {{microrregiao.nome}}
  </option>
</select>

<div id="map" class="map"></div>
